*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --basic-gray: #eeeeee;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --main-text-black: #283136;
  --basic-light-black: #444444;
  --basic-red: #FB565A;
  --basic-red-darken: #E74246;
  --basic-red-dark: #D7373B;
  --link-active-gray: rgba(0, 0, 0, 0.3);
  --basic-green: #00CA74;
  --basic-green-darken: #00BC6C;
  --basic-green-dark: #00AA62;
  --basic-yellow: #EFC84A;
  --basic-yellow-darken: #EAB534;
  --basic-yellow-dark: #E5A722;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --text-gray: #666666;
  --basic-light-gray: #e1e1e1;
  --basic-shadow: rgba(0, 1, 1, 0.1);
  --light-gray: #a6a6a6;
  --basic-gray-bd: #C1C1C1;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--main-text-black);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0 auto;
  max-width: 1160px;
  padding: 0;
}

.main__header {
  padding-top: 48px;
  background-color: var(--basic-gray);
}

.main__navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}

.main__logo:active path {
  fill: var(--light-gray);
}

.site__navigation {
  justify-self: center;
  min-width: 437px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 7px 0 0;
  align-items: center;
}

.user__navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 7px 0 0;
  align-items: center;
}

.site__navigation a, .cart {
  display: inline-block;
  color: var(--basic-black);
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.cart {
  padding-left: 40px;
  position: relative;
}

.cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 7px;
  background-image: url("../img/cart-icon.svg");
}

.site-navigation-current a:not([href]) {
  border-bottom: 2px solid var(--basic-red);
}

.site__navigation a:hover, .site__navigation a:focus, .cart:hover, .cart:focus {
  color: var(--basic-red);
}

.site__navigation a:active, .cart:active {
  color: var(--link-active-gray);
}

.center__container {
  margin: 0 auto;
  max-width: 1160px;
}

.slider {
  position: relative;
  background-color: var(--basic-gray);
  min-height: 420px;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider__text {
  width: 520px;
}

.slide__title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0;
  padding-bottom: 26px;
}

.slide p {
  margin: 0;
}

.slide {
  padding-top: 68px;
}

.slider-controls {
  position: absolute;
  z-index: 20;
  bottom: 96px;
  left: 676px;
  width: 88px;
  display: flex;
  justify-content: space-between;
}

.slider-controls button {
  position: relative;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border: none;

}

@keyframes slider-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.slider-controls .current::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 5px;
  top: 5px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-gray-bd);
  border-radius: 50%;
  animation: slider-animation 0.2s ease-in;
}

.slide-1 {
  background-image: url("../img/nerds-index-slide1.png");
  background-position: 99% 90%;
  background-repeat: no-repeat;
  animation: slider-animation 0.2s ease-in;

}

.slide-2 {
  background-image: url("../img/nerds-index-slide2.png");
  background-position: 99% 90%;
  background-repeat: no-repeat;
  animation: slider-animation 0.2s ease-in;

}

.slide-3 {
  background-image: url("../img/nerds-index-slide3.png");
  background-position: 99% 90%;
  background-repeat: no-repeat;
  animation: slider-animation 0.2s ease-in;

}

.services__list {
  list-style: none;
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  margin: 85px 0 0;
  padding: 0;
}

.services__name {
  position: relative;
  margin: 0;
  padding-top: 166px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services__website::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  top: -5px;
  background-image: url("../img/services-image_1.jpg");
}

.services__apps::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  top: -5px;
  background-image: url("../img/services-image_2.jpg");
}

.services__presentations::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  top: -5px;
  background-image: url("../img/services-image_3.jpg");
}

.services__list p {
  width: 260px;
  margin-bottom: 32px;
}

.about {
  display: grid;
  grid-template-columns: 2fr max-content;
  margin-top: 80px;
  padding-top: 39px;
  border-top: 2px solid var(--basic-gray);
}

.about__description-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin: 35px 0 32px;
}

.about__description__list-title {
  font-weight: bold;
  text-transform: uppercase;
  margin: 42px 0 23px;
}

.about__description-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__description-list li {
  padding-left: 37px;
  position: relative;
}

.about__description-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 11px;
  left: 0;
  background-color: var(--basic-red);
}

.about__description-list li+li {
  margin-top: 24px;
}

.statistics__list-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-left: 17px;
  margin-top: 31px;
}

.statistics__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0 0;
  padding: 0;
  width: 346px;
}

.statistics__list b {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.statistics__list span {
  font-weight: bold;
  font-size: 26px;
  line-height: 50px;
  vertical-align: top;
  color: var(--basic-black);
}

.statistics__list p {
  line-height: 18px;
  margin-top: 12px;
}

.statistics__list, .products__list, .social__btn {
  list-style: none;
}

.products {
  margin: 59px 0 80px;
  border-top: 2px solid var(--basic-gray);
  border-bottom: 2px solid var(--basic-gray);
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 46px auto 44px;
  padding: 0;
  /* width: 1085px; */
}

.products__list li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 260px;
}

.products__list li:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-gray);
  left: -22px;
}

.products__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__list-item img {
  opacity: 0.2;
}

.products__list-item:hover img, .products__list-item:focus img {
  opacity: 1;
}

.products__list-item:active img {
  opacity: 0.1;
}

.contacts {
  position: relative;
}

.contacts__info {
  position: absolute;
  width: 319px;
  min-height: 308px;
  top: 54px;
  padding-top: 49px;
  padding-left: 50px;
  z-index: 1;
  background-color: var(--basic-white);
}

.contacts__tel {
  margin: 18px 0 37px;
}

.btn {
  display: inline-block;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  color: var(--basic-white);
  border-radius: 3px;
  border: none;
  height: 50px;
  width: 160px;
  line-height: 51px;
}

.slider__bnt {
  width: 240px;
  margin-top: 38px;
  margin-bottom: 80px;
}

.contacts-btn {
  width: 219px;
}

.contacts__title {
  margin: 0 0 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts__data, .contacts__data a {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-gray);
}

.map {
  position: relative;
  width: 1440px;
  height: 416px;
}

.map::before {
  position: absolute;
  content: "";
  width: 231px;
  height: 190px;
  top: 86px;
  right: 387px;
  background-image: url("../img/map-marker.png");
}

.btn-red {
  background-color: var(--basic-red);
}

.btn-green {
  background-color: var(--basic-green);
}

.btn-yellow {
  background-color: var(--basic-yellow);
}

.btn-red:hover, .btn-red:focus {
  background-color: var(--basic-red-darken);
}

.btn-green:hover, .btn-green:focus {
  background-color: var(--basic-green-darken);
}

.btn-yellow:hover, .btn-yellow:focus {
  background-color: var(--basic-yellow-darken);
}

.btn-red:active {
  background-color: var(--basic-red-dark);
  box-shadow: inset 0px 3px 0px var(--basic-shadow);
  color: var(--basic-white-opacity);
}

.btn-green:active {
  background-color: var(--basic-green-dark);
  box-shadow: inset 0px 3px 0px var(--basic-shadow);
  color: var(--basic-white-opacity);
}

.btn-yellow:active {
  background-color: var(--basic-yellow-dark);
  box-shadow: inset 0px 3px 0px var(--basic-shadow);
  color: var(--basic-white-opacity);
}

.btn-modal {
  width: 259px;
}

.main__footer {
  padding-top: 68px;
  padding-bottom: 68px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.social__btn {
  margin: 0;
  padding: 0;
  display: flex;
}

.social__btn li+li {
  margin-left: 12px;
}

.social__btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  background-color: var(--basic-light-gray);
  border-radius: 50%;
}

.social__btn svg {
  vertical-align: middle;
}

.social__btn a:focus, .social__btn a:hover {
  background-color: var(--basic-red-darken);
}

.social__btn a:active {
  background-color: var(--basic-red-dark);
  box-shadow: inset 0px 3px 0px var(--basic-shadow);
}

.social__btn a:active svg {
  opacity: 0.3;
}

.discount b {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.discount p {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-light-black);
  margin: 5px 14px 10px;
}

.site__navigation-current {
  position: relative;
}

.site__navigation-current::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 1px;
  right: 1px;
  height: 2px;
  background-color: var(--basic-red);
}

.page__title {
  background-color: var(--basic-gray);
  margin: 0;
  margin-bottom: 55px;
  padding-top: 68px;
  min-height: 231px;
}

.page__title h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin: 0;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  bottom: 180px;
  left: 0;
  right: 0;
  margin: auto;
  width: 960px;
  max-height: 590px;
  padding: 52px 90px 84px 100px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 33;
}

.modal-current {
  display: block;
}

.modal__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.modal h2 {
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.modal-close {
  position: relative;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.modal-close::before {
  position: absolute;
  content: "";
  top: 5px;
  right: 0;
  width: 21px;
  height: 21px;
  background-image: url(../img/close_btn.svg);
  opacity: 0.3;
}

.modal-close:hover::before, .modal-close:focus::before {
  opacity: 1;
}

.modal-close:active::before {
  opacity: 0.1;
}

.modal label {
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-black);
  margin-bottom: 9px;
}

.modal input {
  width: 360px;
  height: 50px;
  padding: 16px;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
}

.modal__message {
  width: 760px;
  height: 118px;
  margin-top: 6px;
  resize: none;
  padding: 16px;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
}

.write-to-us__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "modal-name modal-email" "modal-message modal-message" "btn-modal .";
}

.modal-name {
  grid-area: modal-name;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.modal-email {
  grid-area: modal-email;
  display: flex;
  flex-direction: column;
}

.modal-message {
  grid-area: modal-message;
  margin: 14px 0 38px;
}

.btn-modal {
  grid-area: btn-modal;
}

/* Стили страницы магазина */
/* Фильтр */
.filter__item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__item label {
  cursor: pointer;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter__item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter__item:first-child legend {
  margin-bottom: 48px;
}

.filter__item:first-child {
  margin-bottom: 58px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  box-sizing: content-box;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}  

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

/*Прячем стрелки у input*/
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
  box-sizing: content-box;
}

.grid__list,
.features__list {
  list-style: none;  
}

.grid__list {
  margin-left: -2px;
}

.grid__item {
  margin-bottom: 17px;
}

.grid__item input,
.features__item input {
  display: none;
}

.grid__item label,
.features__item label {
  position: relative;
}

.grid__item label::before,
.features__item label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -40px;
  border: 2px solid #4D4D4D;
  opacity: 40%;
}

.grid__item label:hover::before,
.grid__item label:focus::before,
.grid__item label:focus::after,
.features__item label:focus::before,
.features__item label:hover::before {
  border-color: #283136;
  opacity: 100%;
}

.grid__item input:checked + label::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 6px;
  left: -32px;
  background-color: #4D4D4D;
}

.grid__item input:checked + label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -40px;
  opacity: 40%;
  border-radius: 50%;
  border: 4px solid #4D4D4D;
}

.grid__item input:checked + label:hover::after,
.grid__item input:checked + label:focus::after {
  opacity: 100%;
}

.grid__item label::before {
  border-radius: 50%;
  border: 4px solid #4D4D4D;
  
}

.filter__item:nth-child(2) {
  margin-bottom: 28px;
}

.features__item {
  margin-bottom: 20px;
}

.features__list {
  margin-left: -2px;
}

.features__item {
  margin: 0;
  margin-bottom: 16px;
}

.features__item label::before {
  left: -39px;
  height: 23px;
  width: 23px;
  border-radius: 4px;
}

.features__item input:checked + label::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 21px;
  bottom: 1px;
  left: -38px;
  background-image: url("../img/check-on.png");
}

.features__item input:checked + label:hover::after,
.features__item input:checked + label:focus::after
 {
  background-image: url("../img/check-on-hover.png");
}

.filter__item:nth-child(3) {
  margin-bottom: 30px;
}

.show__button {
  color: var(--basic-black);  
  width: 260px;
  height: 50px;
}

.show__button:hover, .show__button:focus {
  background-color: #DFDFDF;
}

.show__button:active {
  background-color: #D5D5D5;
  box-shadow: inset 0px 3px 0px var(--basic-shadow);
  color: #969696;
}

.catalog__page-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 141px;
}

.catalog__wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}

.catalog__sort {
  display: flex;
  justify-content: space-between;
}

.catalog__sort-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.catalog__item {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 620px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  widows: 760px;
}

.catalog__item:not(:nth-child(2n)) {
  margin-right: 39px;
}

.catalog__sort-list, .catalog__list {
  list-style: none;
}
